:root{
    box-sizing: border-box;
}

*,
::before,
::after{
    box-sizing: inherit;
}

body{
    background-color: #eee;
    font-family: Helvetica,Arial,sans-serif;
}

body *+*{
    margin-top: 1.5rem;
}

header {
    padding:1em 1.5rem;
    color:#fff;
    background-color: #0072b0;
    border-radius: .5em;
    margin-bottom: 1.5em;
}

.main {
    padding: 0 1.5em;
    background-color: #fff;
    border-radius: .5em;
}

/*双容器*/
.container{
    max-width: 1080px;
    margin: 0 auto;
}
/*此处body为外层容器，通过设置内层容器的最大宽度使得内层容器在外层容器中居中，这种方式被称为双容器模式*/

/*让四个媒体盒子浮动到左侧*/
/*浮动设计的高度并不会添加到父元素上，换言之，设置了浮动属性的元素就不会撑大父元素*/
.media{
    float: left;
    /*给每个媒体元素添加右侧和底部的外边距*/
    margin:0 1.5em 1.5em 0 ;
    /*从宽度里减去外边距，防止不必要的换行*/
    width: calc(50% - 1.5em);
    padding: 1.5em;
    background-color: #eeeeee;
    border-radius: 0.5em;
}
/*用清除浮动来使得父元素包含浮动元素*/
.clearfix::before ,
.clearfix::after{
    display:table;
    content:" ";//这里可以添加一个空格，以解决旧版Opera浏览器的兼容性。
}

.clearfix::after{
    clear:both;
}
/*清除每行上面的一个元素的浮动*/
.media:nth-child(odd){
    clear:left;
}

/*将图片浮动到左侧*/
.media-image{
    float: left;
    margin-right: 1.5rem;
}
/*删除猫头鹰选择器所添加的顶部外边距*/
.media-body{
    margin-top: 0;
    overflow: auto;
}
/*覆盖用户代理样式所添加的顶部外边距*/
.media-body h4{
    margin-top: 0;
}